* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  --gray-darkest: hsl(0deg, 0%, 0%);
  --gray-dark: hsl(0deg, 0%, 10%);
  --gray-normal: hsl(0deg, 0%, 30%);
  --gray-light: hsl(0deg, 0%, 40%);
  --gray-lighter: hsl(0deg, 0%, 60%);
  --primary-green: hsl(160deg, 100%, 30%);
  --secondary-gold-darker: hsl(45deg, 100%, 40%);
  --secondary-gold-lighter: hsl(45deg, 100%, 50%);
  --white: hsl(0deg, 0%, 100%);
}

body > header {
  padding-block: 48px;
}

header, section {
  background-color: var(--white);
  border-bottom: 8px solid var(--gray-light);
}

html {
  line-height: 1.35;
}

@media (max-width: 640px) {
  html {
    font-size: 22.5px;
  }
}

@media (max-width: 2560px) {
  html {
    font-size: 27px;
  }
}

main {
  background-color: var(--gray-lighter);
  padding-block: 96px;
}

strong {
  color: var(--primary-green);
}

.card {
  padding: 24px;
}

.indented-heading {
  background-color: var(--secondary-gold-lighter);
  border-bottom: 8px solid var(--secondary-gold-darker);
  margin: -16px 0 0 -48px;
  max-width: max-content;
  padding: 24px 24px 24px 48px;
}

.intro-chunk {
  padding: 24px;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.title {
  margin-bottom: 96px;
}